.fit-picture{
    heigth: 200px;
    width: 250px;
}
.c1{
    color: green;
}

.v1{
    color:rgb(12, 125, 12) ;
}

nav{
    background-color: tomato;
}
.top-main-page{
    color: aliceblue;
    background-color: tomato;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px 24px 0px;
}

nav{
    border-bottom: 1px;
    border-bottom-color: black;
    padding: 16px 16px 16px 16px;
    border-bottom-style: solid;
}

body{
    margin: 0;
    padding: 0;
}

.footer-footer{
    background-color: rgb(117, 210, 117);
    padding: 5px 30px 5px 30px;
}

tr:nth-child(even){
    background-color: rgb(220, 220, 220);
}

.grid-class{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 15px;
}